<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @user.alias %>
</p>

<p>
  <strong>Box:</strong>
  <%= @user.box %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', login_path %>
