<p id="notice"><%= notice %></p>

<nav>
  <% if @current_user %>
    Hi, <%= @current_user.name %>! | <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Login", login_path %>
  <% end %> 
  </nav> 
  
<h1>Honest Box</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boxes.each do |box| %>
      <div>
        <br><%= box.title %></td>
        <br><%= box.description %></td>
        <br><%= link_to 'Join', box %></td>

    <td><%= link_to 'Edit', edit_box_path(box) %></td>
        <td><%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <td><%# link_to 'Edit', edit_box_path(box) %></td>
        <td><%# link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </div>
    <% end %> 
  </tbody>
</table> -->

<section>
<% @boxes.each do |box| %>
  <div>
  <%= box.title %>
  <br>
  <%= box.description %>
  </br>
  <br>
  <%= link_to 'Join', box %>
  </br>
  <!-- <br>
  <%= link_to 'Edit', edit_box_path(box) %>
  </br> -->
  </div>
  <% end %>
</section>



<br>

<p>
<%= link_to 'New Box', new_box_path %>
</p>

<!-- /*<link rel="stylesheet" type="text/css" href="boxes.css">

<section>
  <div>
  Suggestion Box: Zak the Baker
  </div>

  <div>
  Wyncode Retrospective
  </div>

  <div>
  Ideas for Pitch Day
  </div>

  <div>Suggestion Box: The LAB Miami
  </div>
</section>

<section>
<div>Thoughts on Wynwood Street Art</div>
<div>Sports Box</div>
<div>Art Box</div>
<div>Music Box</div>
</section>

</html> -->
