<!-- <h2>
<%= @box.title %>
</h2>
<form class="add-item">
	<input type="text">
	<input type="submit" class="pull-right" value="Submit">
</form>
<br>
<div id="chatBox" chat-title="<%= @box.title %>">
 	<ul>
	</ul>
</div> -->

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @box.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @box.description %>
</p>

<%# link_to 'Edit', edit_box_path(@box) %> |
<%# link_to 'Back', boxes_path %> -->

	<nav>
	<% if @current_user %>
		Hi, <%= @current_user.name %>! | <%= link_to "Logout", logout_path %>
	<% else %>
		<%= link_to "Login", login_path %>
	<% end %>	
	</nav>

	
<div class="main">
	<h1 class="top-bar">Wyncode Suggestion Box</h1>

	<div id="chat-box">
		<ul>
			Hello
		</ul>
	</div>

	<form class="add-item">
		<input type="text" class="write">
		<input type="submit" class="pull-right" value="enter">
	</form>

</div>

<div class="people">
<h2 id="people-bar">People Box </h2>
People signed in to this particular box will be listed here:
<br>-Enide
<br>-Tasio
<br>-Carmen
</div>