<!DOCTYPE html>
<html>
<head>
  <title>HonestBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
</head>
<body>

	<nav>
	<% if @current_user %>
		Hi, <%= @current_user.name %>! | <%= link_to "Logout", logout_path %>
	<% else %>
		<%= link_to "Login", login_path %>
	<% end %>	
	</nav>

<%= yield %>

</body>
</html>
